  
  /*Start of Menu Attributes */
  ul {
    display: table;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    width: 175px;
    background-color: #aeaeae;
  }

    
  
  
  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  li {
    text-align: center;
    border-bottom: 1px solid #555;
  }

  li a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  li a:hover:not(.active) {
    background-color: #2f2f32;
    color: white;
  }


/*Start of Body */

  /*.banner {
      margin: auto;
      background-color: #2f2f32;
      max-width: 30%;
      height: 60px;
      border-radius: 75px;
      padding:0 20px;
  }
  */


  body {
    font-family: 'Orbitron', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    
  }

    body#home{background-image:linear-gradient(#203636,#37341e);background-attachment: fixed;}
    body#about{background-image:linear-gradient(#203636,#37341e);background-attachment: fixed;}
    body#audio{background-image:linear-gradient(#203636,#37341e);background-attachment: fixed;}
    body#concepts{background-image:linear-gradient(#203636,#37341e);background-attachment: fixed;}
    body#models{background-image:linear-gradient(#203636,#37341e);background-attachment: fixed;}
    body#contact{background-image:linear-gradient(#203636,#37341e);background-attachment: fixed;}


  h1 {
    color: #050505;
    font-size: 50px;
    opacity: 100%;
  
  }

  .content-center{
    align-content: center;
  }
  

  .transparent-light {
    margin: auto;
    padding: 0 20px;
    color: #2f2f32;
    font-size: 35px;
    width: 50%;
    background-color: #aeaeae;
    border-radius: 10px;
  }

  .transparent-dark {
    margin: auto;
    padding: 0 20px;
    color: #aeaeae;
    font-size: 35px;
    width: 50%;
    background-color: #2f2f32;
    border-radius: 10px;
  }

